
.cursor{
    cursor:pointer;
}
a.brand-link span{
    font-size:1.5em;
    font-weight:bold
}
.navigation{
  border:0px;
  padding-left:20px;
  padding-right:20px;
  box-shadow:1px 1px 8px rgba(0,0,0,0.3)
}
div.toggle-div{
    z-index:1000
}
nav a{
    color: #927e23  ;
    font-size:1.1em;
    padding-top:20px;
    padding-bottom:20px;
    font-weight:bold ;
}
nav a:visited{
    color:#927e23 
}
nav div.collapse a{
    border-bottom:3px solid transparent;
}
nav div.collapse a:hover{
    border-bottom:3px solid #927e23 ;
    color:#927e23 ;
}

@media screen and (max-width: 768px){
    .navigation{
        padding:0px
      } 
      nav .toggle-div ul{
        background-color:white
      }
      nav .toggle-div ul li{
          background-color:white
      }
}