.teaser-wrapper{
    margin:auto;
    margin-bottom:50px;
    max-width:280px;
    height:420px;
    border: 5px solid white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.image-wrapper{
    height:180px;
    margin:0px;
    padding:0px;
    background:white;
}

.teaser-img{
    display:block;
    width:100%;
    height:180px;
    margin:0px;
  
}

.amt-raised-wrapper{
    padding: 5px;
    color:#636363;
    border-bottom: 1px solid #f1f1f1 
}

.prog-wrapper{
    padding-top:10px;
}

.progress-bar{
    margin:0px;
    background:#927e23 ; 
}

.title-wrapper{
    color: #6d6d6d;
    padding-bottom:20px;
    border-bottom: 1px solid #f1f1f1;
}

div.bottom-wrapper{
    color:#949494;
}

div.bottom-wrapper h5{
    padding-top:5px
}


@media screen and (max-width: 768px){


}