.wrapper-outer{
    margin-top:80px;
    min-height:200px;
    
}

div.wrapper-outer div{
    background:#e9e9e9;
    margin-bottom:80px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    padding:20px
}


div.img-div{
    margin-bottom:50px
}